body {
    font-family: system-ui;
    background-color: rgb(232, 218, 218);
}

header {
    background-image: url("../images/hero.jpeg");
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 13rem;
}

main {
    margin: 3rem;
}

footer {
    background-color: rgb(218, 205, 205); 
    padding-bottom: 20rem; 
}

button {
    margin: 0.6rem 0.2rem;
    padding: 0.5rem; 
    display: inline-block;
    background-color: inherit;
    border: rgb(147 74 31/0.2);
    cursor: pointer;
    box-shadow: 0 0 0.3rem rgb(147 74 31/0.6);
    border-radius: 0.2rem;

}

.button-hover:hover {
    display: inline-block;
    box-shadow: 0 0 0.3rem rgb(147 74 31/0.2);
    transform: scale(1.1);
    transition: 0.18 ease;
}

a {
    Color: rgb(136, 56, 31);
    font-size: 1rem;
    text-decoration: none;
}

.header-flex {
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



