body {
    font-family: system-ui;
    background-color: rgb(232, 218, 218);
}

header {
    background-image: url("../images/hero.jpeg");
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 13rem;
}

main {
    margin: 3rem;
}

footer {
    background-color: rgb(218, 205, 205); 
    padding-bottom: 20rem; 
}

button {
    display: inline-block;
    background-color: inherit;
    margin-top: 1rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 0.2rem;
    cursor: pointer;    
}

a {
    Color: rgb(163, 66, 36);
    font-size: 1rem;
    text-decoration: none;
}

.header-flex {
    border: 0.1rem solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



