html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui;
    background-color: rgb(232, 218, 218);
}

header {
    background-image: url("../images/hero.jpeg");
    background-size: cover;
    padding-bottom: 15rem;
}

main {
    margin: 3rem;
}

footer {
    background-color: rgb(218, 205, 205); 
    padding-bottom: 20rem; 
}

button {
    margin-top: 1rem;
    padding: 0.3rem; 
    display: inline-block;
    background-color: inherit;
    border: rgb(147 74 31/0.2);
    cursor: pointer;
    box-shadow: 0 0 0.3rem rgb(147 74 31/0.6);
    border-radius: 0.2rem;
}

.button-hover:hover {
    display: inline-block;
    box-shadow: 0 0 0.3rem rgb(147 74 31/0.2);
    transform: scale(1.05);
    transition: 0.18 ease;
}

a {
    Color: rgb(136, 56, 31);
    font-size: 1rem;
    text-decoration: none;
}

.header-flex-item1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 0;
    margin-bottom: 8rem;
    Color: rgb(136, 56, 31);
    font-size: 1rem;
}

.header-flex-item2 {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

#header-flex-item {
    margin-right: 8rem; 
}

.image-flex {
    display: flex;
    flex-direction: row;
}

#image-size {
    width: 1.1rem;
    height: 1.1rem;
    margin: 0.2rem;    
}